<div class="columns">
  <div class="column is-3">
    <ma-spotify-poster [album]="album" size="lg"></ma-spotify-poster>
  </div>
  <div class="column">
    <h1 class="title">{{album.name | uppercase}}</h1>
    <!-- <pre>{{album | json}}</pre>  DEBUG: show album as Json object using the pipe(filter) json-->
    <h2 class="subtitle">{{album.artists[0].name}}</h2>
    <table class="table">
      <thead>
      <tr>
        <th>#</th>
        <th>track name</th>
        <th (click)="showSuffix = !showSuffix">duration</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
        <tr [class.is-danger]="track.duration_ms > 400000" *ngFor="let track of album.tracks.items">
          <td>{{track.track_number}}</td>
          <td title="{{track.external_urls.spotify}}">{{track.name}}</td>
          <td>{{track.duration_ms | msToMinutes:showSuffix}}</td>
          <td><a href="{{track.external_urls.spotify}}"></a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
