<div class="columns">

  <div class="column is-3">
    <h2 class="subtitle">Bookmarks</h2>
  </div>

  <div class="column">
    <h2 class="subtitle">Find albums</h2>
    <div class="control has-addons">
      <input [(ngModel)]="query" type="search" class="input" autofocus>
      <button class="button is-primary" (click)="search(query)">Search</button>
    </div>

    <div class="columns is-multiline">
      <div class="column is-6" *ngFor="let album of albums">

        <ma-spotify-poster [album]="album" size="md"></ma-spotify-poster>
        <!--
          1. generate a component in spotify module (ng g c spotify/spotify-poster)
          2. define the `album` @input
          3. move img and album title to spotify-poster.component.html
          4. use the component in search component html
        -->
      </div>
    </div>
  </div>

</div>
