<div class="columns">
  <form class="column is-6 is-offset-3">
    <h1 class="title">Contact us</h1>
    <label for="name" class="label">Your name</label>
    <div class="control">
      <input id="name" type="text" class="input" autofocus>
    </div>
    <label for="message" class="label">Message</label>
    <div class="control">
      <textarea name="message" id="message" class="textarea" cols="30" rows="10"></textarea>
    </div>

    <button class="button is-primary is-pulled-right">Send</button>
  </form>
</div>
